<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Front page</title>
        <meta name="date" content="April 10, 2020">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <script src="/scripts.js" defer></script>
    </head>
    <body>
        <table align='center'>
            <tr>
                <td>
                    <form action="/process" id="form" method="POST">
                        <table>
                            <tr>
                                <td>
                                    <h3>Choose Your Database:</h3>
                                    <table>
                                        <tr>
                                            <td>
                                                <select id="database" name="database" required>
                                                    <option value="" selected>Plese select a database</option>
                                                    <option value="sql">SQL</option>
                                                    <option value="mongodb">MongoDB</option>
                                                    <option value="neo4j">Neo4j</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Choose Your Query:</h3>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="radio" id="1" name="query" value="1" required>
                                                <label for="1">1. What time of the day is the sale maximum per country?</label><br>
                                                <input type="radio" id="2" name="query" value="2">
                                                <label for="2">2. Annual total sales of per product</label><br>
                                                <input type="radio" id="3" name="query" value="3">
                                                <label for="3">3. Top product per year</label><br>
                                                <input type="radio" id="4" name="query" value="4">
                                                <label for="4">4. Top product per country</label><br>
                                                <input type="radio" id="5" name="query" value="5">
                                                <label for="5">5. Which item is sold below the threshold value (under-performed products)?</label><br>
                                                <input type="radio" id="6" name="query" value="6">
                                                <label for="6">6. Which customer spends the most (per country or overall)?</label><br>
                                                <input type="radio" id="7" name="query" value="7">
                                                <label for="7">7. Best-selling month (per country) [2009-2011]</label><br>
                                                <input type="radio" id="8" name="query" value="8">
                                                <label for="8">8. Best-selling product per month [2009-2011]</label><br>
                                                <input type="radio" id="9" name="query" value="9">
                                                <label for="9">9. What is the change in total sales per country per year (trend of sales)?</label><br>
                                                <input type="radio" id="10" name="query" value="10">
                                                <label for="10">10. Average spending of a customer in that country (Total sales/ no of customer)</label><br>
                                                <input type="radio" id="11" name="query" value="11">
                                                <label for="11">11. Frequently purchased item per customer</label><br>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" id="submitButton">Submit</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="display: inline;">Query runtime: </h4><p id="queryRuntime" style="display: inline;"></p>
                    <h3>The Query Results are Shown Below:</h3>
                    <div id="results">
                        <p>No database/query selected or data being loaded</p>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>